/* scherm 2 */
#eendje-s2{
    position: fixed;
    top: 75dvh;
    left: 30%;
    transform: translate(-50%, -50%) rotate(0deg); /* Startpositie en rotatie van 0 graden */
    animation: arriveWaggelEendje 3s ease-in-out; /* Voeg animatie toe */
}

#eendjetekst-s2{
    bottom: 40dvh;
}

@keyframes arriveWaggelEendje {
    0% {
        top: 120dvh;
        left: -10%;
        transform: translate(-50%, -50%) rotate(0deg); /* Beginpositie en rotatie van 0 graden */
    }
    50% {
        top: 100dvh;
        left: 20%;
        transform: translate(-50%, -50%) rotate(-10deg); /* Middenpositie, aanpassen naar wens */
    }
    100% {
        top: 75dvh;
        left: 30%;
        transform: translate(-50%, -50%) rotate(0deg); /* Eindpositie en rotatie van 0 graden */
    }
}

/* scherm 3 */
#eendje-s3{
    position: fixed;
    top: 75%;
    left: 30%;
    transform: translate(-50%, -50%);
}
#eendjetekst-s3{
    bottom: 40dvh;
}
/* scherm 4 */
#vraag-s4{
    position: fixed;
    top: 15dvh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 358px;
    height: 88px;
}
#up-s4{
    position: fixed;
    top: 30dvh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
}
#cijfer-s4{
    width: 171px;
    height: 168px;
    flex-shrink: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

	font-family: var(--text-font);
	font-weight: var(--text-weight-bold);
	font-size: 8rem;
}
#down-s4{
    position: fixed;
    top: 70dvh;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 140px;
}

#indienen-s4{
    top: 90dvh;
    left: 50%;
    width: 169px;
    height: 88px;
}

#volumeBar-s4{
	top: 7dvh;
	left: 50%;
	background-color: green;
	border-radius: var(--box-radius);
	transform: translateX(-50%);
}
/* scherm5 */
#eendje-s5{
    width: 307px;
    height: 484px;
    position:fixed;
    top: 90dvh;
    left: 20%;
    transform: translate(-50%, -50%);
}
#eendjetekst-s5{

    bottom: 30dvh;
} 

#eendjetekst-s7{
	bottom: 25dvh;
}

#vraag-s5{
    position: fixed;
    top: 15dvh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 358px;
    height: 88px;
}
#up-s5{
    position: fixed;
    
}