#eendje2{
position: fixed;
top: 75%;
left: 30%;
transform: translate(-50%, -50%);
}
#eendjetekst2{
position: fixed;
top: 20%;
left: 55%;
transform: translate(-50%, -50%);
}
#eendje3{
position: fixed;
top: 75%;
left: 30%;
transform: translate(-50%, -50%);
}
#eendjetekst3{
position: fixed;
top: 20%;
left: 55%;
transform: translate(-50%, -50%);
}

#vraag1{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 358px;
    height: 88px; 
}
#up{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 358px;
    height: 88px; 

}
#down{

}
#indienen{

}


