.kluis {
	width: 100%;
}

.zoomin-op-numpad {
	animation: zoomin 2s ease-in-out 1s 1 normal forwards;
}


#muisje-s1 {
	bottom: 207px;
	left: 240px;
}

#muisje-s1-tekstbubbel {
	bottom: 430px;
}



@keyframes zoomin {
	0% {
		transform: translate3d(-50%, -50%, 0) scale(100%);
	}

	100% {
		transform: translate3d(-335%, -72%, 0) scale(900%);
	}
}

