#kluis {
	width: 100%;
}

#bubbel{
	bottom:32vh;
}

.zoomin-op-numpad {
	animation: zoomin 2s ease-in-out 1s 1 normal forwards;
}

.verlaatscherm {
	animation: verlaat 0.5s ease-in 0s 1 normal forwards;
}

@keyframes verlaat {
	0% {
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(0,400px,0);
	}
}

@keyframes zoomin {
	0% {
		transform: translate3d(-50%, -50%, 0) scale(100%);
	}

	100% {
		transform: translate3d(-335%, -72%, 0) scale(900%);
	}
}

