button {
  background-color: var(--button-color);
  color: var(--text-color);
  padding: 1em;
  border: 0;
  border-radius: var(--radius-box);
  box-shadow: var(--box-shadow);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight-bold);
  font-size: 20px;
  width: 209px; 
}
