.hamburger-a {
	display: none; /* dit krijg ik helaas niet af :c*/
	/* display: block; */
	z-index: 12;
	top: 12px;
	left: 12px;
	height: 20px;
}

.hamburger {
	display: none; /* dit krijg ik helaas niet af :c*/
	/* display: flex; */
	justify-content: space-between;
	flex-direction: column;
	height: 30px;
}

.hamburger-line{
	min-width: 40px;
	min-height: 5px;
	background-color: white;
	border-radius: 12px;
	box-shadow: var(--box-shadow);
}