/*
.spraak-bubbel {
	background-color: var(--white);
	padding-top: var(--margin-textbox-ver);
	padding-bottom: var(--margin-textbox-ver);
	padding-left: var(--margin-textbox-hor);
	padding-right: var(--margin-textbox-hor);

	border-radius: var(--radius-box);

	top: 0;


}

.spraak-bubbel:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #f9f9f9;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}*/


.spraak-bubbel {
    position: fixed;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
    background: #f9f9f9;
    border-radius: .4em;
    padding: 20px;
    color: var(--text-color);
	width: 80%;

	box-shadow: var(--box-shadow);
}

.spraak-bubbel::after {
    content: '';
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #f9f9f9;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
	box-shadow: var(--box-shadow);
}

.sb-flipped::after {
    left: 70%;
    border: 20px solid transparent;
    border-top-color: #f9f9f9;
    border-bottom: 0;
	border-right:0;
}

.sb-middle::after {
    left: 52%;
}

.spraak-bubbel-text {
	font-family: var(--text-font);
	font-size: var(--text-size);
	font-weight: var(--text-weight-mid);
}