.vierkantwit{
    background-color: var(--white);
    width: 304px;
    height: 344px;  
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: var(--radius-box);
    padding: 20px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 24px;
    font-weight: var(--text-weight-mid);
    box-shadow: var(--box-shadow);   
}