/* scherm 2 */
#wasbeer-s2{
    bottom: 0dvh;
    left: 70%;
    transform: translate3d(-50%, -50%, 0);
    
    animation: wasbeerJump 2.4s ease-in-out forwards, wasbeerSpin 1s alternate 1ms ease-in-out infinite;
}

@keyframes wasbeerJump {
    0% {
        scale: 90%;
        top: 70dvh;
        left: 120%;
        transform: rotate(0deg);

    }

    100% {
        top: 83dvh;
        left: -30%;
        transform: rotate(0deg);
    }
}

@keyframes wasbeerSpin {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(3deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-3deg);
    }
}
/* scherm 3 */
#wasbeer-s3{
    bottom: 0dvh;
    left: 30%;
    transform: translate3d(-50%, -50%, 0);

    animation: wasbeerEntrance 1.4s ease-in-out forwards, wasbeerRotate 2s alternate 1ms ease-in-out infinite;
}
#wasbeertekst-s3{
    bottom: 34dvh;
}

@keyframes wasbeerEntrance {
    0% {
        scale: 90%;
        top: 80dvh;
        left: -30%;
        transform: rotate(0deg);

    }

    100% {
        top: 77dvh;
        left: 27%;
        transform: rotate(0deg);
    }
}

@keyframes wasbeerRotate {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(3deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-3deg);
    }
}

/* scherm 4 */
#kader-s4{
    width: 305px;
    height: 323px;
    top: 25dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
#wasbeer-s4{
    top: 77dvh;
    left: 27%;
    transform: rotate(0deg);
    z-index: 999;

    animation: wasbeerRotate 2s alternate 1ms ease-in-out infinite;
}
#wasbeertekst-s4{
    bottom: 33dvh;
    z-index: 999;
}

@keyframes wasbeerRotate {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(3deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-3deg);
    }
}
#kapstok-s4{
    bottom: 30dvh;
    left: 15%;
    transform: translate3d(-50%, -50%, 0);
}
#fles-1-s4{
    bottom: 25dvh;
    left: 33%;
    transform: translate3d(-50%, -50%, 0);  
}
#fles-2-s4{
    bottom: 17dvh;
    left: 30%;
    transform: translate3d(-50%, -50%, 0);  
}
#tandpasta-s4{
    bottom: 22dvh;
    left: 15%;
    transform: translate3d(-50%, -50%, 0);  
}
#beker-s4{
    bottom: 10dvh;
    left: 15%;
    transform: translate3d(-50%, -50%, 0);  
}
#vis-s4{
    bottom: 25dvh;
    left: 85%;
    transform: translate3d(-50%, -50%, 0);  
}
#kaas-s4{
    bottom: 25dvh;
    left: 69%;
    transform: translate3d(-50%, -50%, 0);  
}
#brood-s4{
    bottom: 18dvh;
    left: 80%;
    transform: translate3d(-50%, -50%, 0);  
}
#broccoli-s4{
    bottom:15dvh;
    left:70%;
    transform: translate3d(-50%, -50%, 0);  
}
#vuilbakgroen-s4{
    bottom:-5dvh;
    left:75%;
    transform: translate3d(-50%, -50%, 0);  
}
#vuilbakgrijs-s4{
    bottom:-5dvh;
    left:20%;
    transform: translate3d(-50%, -50%, 0);  
}
/* scherm 5 */
#kader-s5{
    width: 180px;
    height: 88px;
    font-size: 64px;
}
#compostpot-s5{
    bottom: -2dvh;
    left: 50%;
    transform: translate3d(-50%, 0, 0) scaleX(700%);  
}
#vuilbakgroen-s5{
    top: 50dvh;
    left: 50%;
    height: 133px;
    transform: translate3d(-50%, -50%, 0);  
}

.afval-s5{
	display: none;
}
/* scherm 6 */
#kader-s6{
    width: 180px;
    height: 88px;
    font-size: 64px;
}
#wasbeer-s6{
    width: 318px;
    bottom: -10dvh;
    left: 60%;
    transform: translate3d(-50%, -50%, 0);   
    z-index: 999;

    animation: wasbeerEntrance1 1.5s ease-in-out forwards, wasbeerRotate1 1.5s alternate 1ms ease-in-out infinite;
}
#wasbeertekst-s6{
    bottom: 40dvh;
	z-index: 300; 
}

@keyframes wasbeerEntrance1 {
    0% {
        scale: 40%;
        top: 150dvh;
        left: 50%;
        transform: rotate(0deg);

    }

    100% {
        top: 75dvh;
        left: 50%;
        transform: rotate(0deg);
    }
}

@keyframes wasbeerRotate1 {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(3deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-3deg);
    }
}

/* scherm 7 */
#wasbeer-s7{
    width: 318px;
    top: 75dvh;
    left: 60%;
    transform: translate3d(-50%, -50%, 0);   
    z-index: 999;

    animation: wasbeerEntrance1 1.5s ease-in-out forwards, wasbeerRotate1 1.5s alternate 1ms ease-in-out infinite;
}
#wasbeertekst-s7{
    bottom: 45dvh;
	z-index: 300; 
}

/* scherm 8 */
#wasbeer-s8{
    width: 318px;
    top: 75dvh;
    left: 60%;
    transform: translate3d(-50%, -50%, 0);   
    z-index: 999;

    animation: wasbeerEntrance3 1.5s ease-in-out forwards, wasbeerRotate1 1.5s alternate 1ms ease-in-out infinite;
}

@keyframes wasbeerEntrance3 {
    0% {
        scale: 40%;
        top: 150dvh;
        left: 50%;
        transform: rotate(0deg);

    }

    100% {
        top: 75dvh;
        left: 55%;
        transform: rotate(0deg);
    }
}

/* één punt */
#boom-1-1{
    position: fixed;
    bottom: 25dvh;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* twee punt */
#boom-2-1{
    position: fixed;
    bottom: 30dvh;
    left: 30%;
    transform: translate(-50%, -50%);
}
#boom-2-2{
    position: fixed;
    bottom: 30dvh;
    left: 70%;
    transform: translate(-50%, -50%);
}
/* drie punten */
#boom-3-1{
    position: fixed;
    bottom: 28dvh;
    left: 10%;
    transform: translate(-50%, -50%);
}
#boom-3-2{
    position: fixed;
    bottom: 30dvh;
    left: 50%;
    transform: translate(-50%, -50%);
}
#boom-3-3{
    position: fixed;
    bottom: 28dvh;
    left: 90%;
    transform: translate(-50%, -50%);
}