/* scherm1 */
/* scherm2 */
#muisje-s2 {
    top: 80dvh;
    left: 40%;
    transform: translate3d(-50%, -50%, 0);
    width: 460px;
    /* animation */
    animation: muisEntrance 1s ease-in-out forwards, muisRotate 1.5s alternate 1ms ease-in-out infinite;
}

#muisjetekst-s2 {
    bottom: 38dvh;
}

#muisje-s8-tekstbubbel {
    bottom: 40dvh;
}

@keyframes muisEntrance {
    0% {
        scale: 100%;
        top: 80dvh;
        left: -120%;
    }
    100% {
        scale: 100%;
        top: 56dvh;
        left: -15%;
    }
}

@keyframes muisRotate {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

/* scherm3 */
#muisje-s3 {
    top: 40dvh;
    left: 70%;
    transform: translate3d(-50%, -50%, 0);
    width: 90px;

}

#timer-s3 {
    top: 40dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

}

#tekst-s3 {
    top: 90dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 400px;
    height: 88px;
}

#timer-s3 {
    top: 45dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 96px;
    font-family: var(--text-font);
    font-weight: var(--text-weight-bold);
    color: var(--white);
}
#muisje-s4 {
    top: 80dvh;
    left: 40%;
    transform: translate3d(-50%, -50%, 0);
    width: 460px;
    /* animation */
    animation: muisJump 1s ease-in-out forwards, muisRotate1 1.5s alternate 1ms ease-in-out infinite;
}
#muisjetekst-s4 {
    bottom: 34dvh;
}