/* scherm1 */
#muisje-s1 {
    top: 80dvh;
    left: 40%;
    transform: translate3d(-50%, -50%, 0);
    width: 460px;
    animation: muisEntrance2 2s ease-in-out forwards, muisRotate2 2s alternate 1ms ease-in-out infinite;
}

@keyframes muisEntrance2 {
    0% {
        top: 56dvh;
        left: -100%;
    }
    100% {
        top: 56dvh;
        left: 120%;
    }
}

@keyframes muisRotate2 {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
/* scherm2 */
#muisje-s2 {
    top: 80dvh;
    left: 40%;
    transform: translate3d(-50%, -50%, 0);
    width: 460px;
    animation: muisEntrance 1.2s ease-in-out forwards, muisRotate 1.5s alternate 1ms ease-in-out infinite;
}

#muisjetekst-s2 {
    bottom: 38dvh;
}

#muisje-s8-tekstbubbel {
    bottom: 40dvh;
}

@keyframes muisEntrance {
    0% {
        scale: 100%;
        top: 80dvh;
        left: -120%;
    }
    100% {
        scale: 100%;
        top: 56dvh;
        left: -15%;
    }
}

@keyframes muisRotate {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

/* scherm3 */
#muisje-s3 {
    top: 40dvh;
    left: 70%;
    transform: translate3d(-50%, -50%, 0);
    width: 90px;

}

#timer-s3 {
    top: 40dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

}

#tekst-s3 {
    top: 90dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 400px;
    height: 88px;
	z-index: 10;
}
#afstand-s3 {
    top: 82dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
	padding: 3rem;
}

#timer-s3 {
    top: 45dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 96px;
    font-family: var(--text-font);
    font-weight: var(--text-weight-bold);
    color: var(--white);
}

/* scherm4 */
#muisje-s4 {
    top: 80dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 460px;
    /* animation */
    animation: muisJump 1s ease-in-out forwards, muisRotate1 1.5s alternate 1ms ease-in-out infinite;
}
/* één punt */
#boom-1-1{
    position: fixed;
    bottom: 25dvh;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* twee punt */
#boom-2-1{
    position: fixed;
    bottom: 30dvh;
    left: 30%;
    transform: translate(-50%, -50%);
}
#boom-2-2{
    position: fixed;
    bottom: 30dvh;
    left: 70%;
    transform: translate(-50%, -50%);
}
/* drie punten */
#boom-3-1{
    position: fixed;
    bottom: 28dvh;
    left: 10%;
    transform: translate(-50%, -50%);
}
#boom-3-2{
    position: fixed;
    bottom: 30dvh;
    left: 50%;
    transform: translate(-50%, -50%);
}
#boom-3-3{
    position: fixed;
    bottom: 28dvh;
    left: 90%;
    transform: translate(-50%, -50%);
}

@keyframes muisJump {
    0% {
        scale: 20%;
        top: 100dvh;
        left: 0%;
    }
    100% {
        scale: 100%;
        top: 52dvh;
        left: -5%;
    }
}

@keyframes muisRotate1 {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}