/* scherm1 */
#start-s1{
    bottom: 40dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
#startbutton-s1{
    top: 80dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 209px;
    height: 51.374px;
}
/* scherm2 */
#gif-s2{
    top: 86dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 129.697px;
    height: 188.162px;
}
#contractor-s2{
    top: 75dvh;
    left: 80%;
    transform: translate3d(-50%, -50%, 0);
}
#riooldeksel-s2{
    top: 95dvh;
    left: 20%;
    transform: translate3d(-50%, -50%, 0);
}
/* scherm3 */
#gif-s3{
    top: 78dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 129.697px;
    height: 188.162px;
    transform: rotate(98deg);
}
#contractor-s3{
    top: 66dvh;
    left: 95%;
    transform: translate3d(-50%, -50%, 0);
    width: 28.773px;
    height: 58px;
}
#riooldeksel-s3{
    top: 95dvh;
    left: 20%;
    transform: translate3d(-50%, -50%, 0);
}
#muisje-s3{
    top: 80dvh;
    left: 10%;
    transform: translate3d(-50%, -50%, 0);
    width: 155px;
    height: 162px;  
}

#start-video-s2 {
	width: 100%;
}
/* scherm4 */
#muisje-s4{
    width: 195px;
    height: 203.806px;  
    top: 50dvh;
    left: 77%;
    transform: translate3d(-50%, -50%, 0);
}
#muisje-s4-tekstbubbel{
    top: -30dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}