/* scherm 2 */
#muis-s2{
    top: 70dvh;
    left: 70%;
    transform: translate3d(-50%, -50%, 0) scaleX(-1);

    animation: muisEntrance 1.5s ease-in-out forwards, muisRotate 2s alternate 0.5s ease-in-out infinite;
}

#muistekst-s2{
    bottom: 40dvh;
}

@keyframes muisEntrance {
    0% {
        scale: 50%;
        left: 160%;
    }

    100% {
        left: 75%;
    }
}

@keyframes muisRotate {
    0% {
        transform: translate3d(-50%, -50%, 0) scaleX(-1) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) scaleX(-1) rotate(-3deg);
    }
}

/* scherm 3 */
#uil-s3{
    height: 110px;
    top: 33dvh;
    left: 75%;
    transform: translate3d(-50%, -50%, 0); 

    animation: uilVliegen 1.5s ease-in-out forwards, uilRotate0 2s alternate 0.5s ease-in-out infinite;
}

@keyframes uilVliegen {
    0% {
        scale: 50%;
        left: 160%;
    }

    100% {
        left: 75%;
    }
}

@keyframes uilRotate0 {
    0% {
        transform: translate3d(-50%, -50%, 0) scaleX(-1) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) scaleX(-1) rotate(-3deg);
    }
}

/* scherm 4 */
#uil-s4{
    top: 70dvh;
    left: 75%;
    transform: translate3d(-50%, -50%, 0);

    animation: uilLanding 1.5s ease-in-out forwards, uilRotate alternate 1s ease-in-out infinite;
}
#uiltekst-s4{
    bottom: 49dvh;
}

@keyframes uilLanding {
    0% {
        scale: 80%;
        top: 60%;
    }

    100% {
        left: 67%;
    }
}

@keyframes uilRotate {
    0% {
        transform: translate3d(-50%, -50%, 0) scaleX(-1) rotate(3deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) scaleX(-1) rotate(-3deg);
    }
}

/* scherm 5 */
#video {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100dvw;
	height: 100dvw; /*same height as width*/
}

#capture {
	bottom: 20dvh;
	left: 50%;
	transform: translateX(-50%);
}

#canvas{
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100dvw;
	height: 100dvw; /*same height as width*/
}

/* scherm 6 */
#uil-s6{
    top: 70dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);  
}
#gefeliciteerd-s6{
    font-size: 28px;
    font-family: var(--text-font);
    font-weight: var(--text-weight-bold);
    color: var(--white);
    top: 43dvh;
    left: 50%;
    z-index: 9999;
    transform: translate3d(-50%, -50%, 0);  
}
#beloningen-s6{
    display: flex;
    width: 356px;
    height: 169px;
    justify-content: center;
    align-items: center;
    top: 30dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); 
    box-shadow: 4px 8px 32.6px 0px #FFF, 12px -11px 50.2px 0px #FFF, -9px 1px 32px 0px #FFF; 
}
#bloem-1-s6{
    top: 52dvh;
    left: 48%;
    transform: translate3d(-50%, -50%, 0); 
}
#bloem-2-s6{
    top: 52dvh;
    left: 80%;
    transform: translate3d(-50%, -50%, 0); 
}
#bloem-s6{
    top: 52dvh;
    left: 15%;
    transform: translate3d(-50%, -50%, 0); 
}
/* scherm 7 */
#uil-s7{
    top: 70dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);  
}
#uiltekst-s7{
    top: 0dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);  
}
#gefeliciteerd-s7{
    font-size: 28px;
    font-family: var(--text-font);
    font-weight: var(--text-weight-bold);
    color: var(--white);
    top: 43dvh;
    left: 50%;
    z-index: 9999;
    transform: translate3d(-50%, -50%, 0);  
}
#beloningen-s7{
    display: flex;
    width: 356px;
    height: 169px;
    justify-content: center;
    align-items: center;
    top: 30dvh;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); 
    box-shadow: 4px 8px 32.6px 0px #FFF, 12px -11px 50.2px 0px #FFF, -9px 1px 32px 0px #FFF; 
}
/* scherm 8 */
#uil-s8{
    top: 70dvh;
    left: 30%;
    transform: translate3d(-50%, -50%, 0);
    
    animation: uilEntrance 1.5s ease-in-out forwards, uilRotate1 1s alternate 0.5s ease-in-out infinite;
}

#onafgemaakt{
	font-size: 5rem;
	top: 2rem;
	color: red;
	font-family: var(--text-font);
	font-weight: var(--text-weight-bold);
	text-align: center;
}

@keyframes uilEntrance {
    0% {
        scale: 50%;
        left: -100%;
    }

    100% {
        right: 3%;
    }
}

@keyframes uilRotate1 {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(3deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-3deg);
    }
}

#uiltekst-s8{
    bottom: 49dvh;
}
