#instructionbox{
    position: fixed;
    transform: translate(-50%, -50%);
    width: 358px;
    height: 88px;
    font-weight: var(--text-weight-light);
    padding-top: 60px;
    padding-bottom: 60px;
}