:root {
	--white: #FFFFFF;

	--text-color: #494949;
	--button-color: #52AAE2;
	--white: white;

	/*textbox*/
	--margin-textbox-ver: 45px;
	--margin-textbox-hor: 32px;

	--radius-box: 20px; /* afronding */
  	
	--text-size: 1.75rem;
	--text-font: font-family: 'Signika Negative', sans-serif;
	--text-weight-bold: 700;
	--text-weight-light: 300;

	--box-shaddow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


	--margin-header: 16px;
	--margin-general: 16px;
}


