:root {
	--white: #FFFFFF;
	--groen: #BBCE9C;
	--grey: #E8E8E8;

	--text-color: #494949;
	--button-color: #FFFFFF;
	--game-groen: #939E17;
	--eye-bleed-red: #D91F1F;
	--white: white;

	/*textbox*/
	--margin-textbox-ver: 45px;
	--margin-textbox-hor: 32px;

	--radius-box: 20px; /* afronding */
  	
	--text-size: 1.75rem;
	--text-font: 'Signika Negative', sans-serif;
	--text-weight-bold: 600;
	--text-weight-mid: 400;
	--text-weight-light: 200;

	--box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


	--margin-header: 16px;
	--margin-general: 16px;
}


